.root {
  flex-direction: column;
  display: inline-flex;
  position: relative;
  width: auto;
  padding: 0px var(--token-7WDazeW0f);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-7WDazeW0f));
  height: calc(100% + var(--token-7WDazeW0f));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-7WDazeW0f);
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-width: 0;
    padding: 0px var(--token-7WDazeW0f);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 0;
    margin-left: calc(0px - var(--token-7WDazeW0f));
    width: calc(100% + var(--token-7WDazeW0f));
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: var(--token-7WDazeW0f);
    margin-top: 0px;
  }
}
.button__tpyBn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kJFqo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wIeWo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__caJvz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mozeT {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__va3Sr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__zmqJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hkB0S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__puswk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
